<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/default.css">
    </head>

    <body>
        <table>
            <tr>
                <th>제목</th>
                <th>저자</th>
                <th>날짜</th>
            </tr>
            {% for article in articleList %}
            <tr>
                <td><a href="/view/{{article.pk}}">{{ article.title }}</a></td>
                <td>{{ article.name }}</td>
                <td>{{ article.cdate|date:"D d M Y"}}</td>
            </tr>
            {% endfor %}
        </table>

        <br>
        <a class="color" href="/">Back to main page</a>
    </body>
</html>
