<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/default.css">
    </head>

    <body>
        <div id="post-add">
            <h1>Post add</h1>
            <form method="POST">
                {% csrf_token %}
                <div>
                    <label>저자</label>
                    <input name="name" type="text">
                </div>
                <div>
                    <label>제목</label>
                    <input name="title" type="text">
                </div>
                <div>
                    <label>내용</label>
                    <textarea name="content"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">작성</button>
            </form>
        </div>

        <br>
        <a class="color" href="/">Back to the main page</a>
    </body>
</html>
